@use "./functions";
$font-stack: Roboto, Arial, Helvetica, sans-serif;
$heading-stack: "Source Sans Pro" $font-stack;
$bg-color: #f8f8f8;
$bg-color-dark: #f8f8f8;
$text-color: functions.set-text-color($bg-color);
$primary-color: #04aa6d;
$primary-color-hover: darken($primary-color, 10%);
$text-size: 10px;
$radius: 5px;
$other-btn-color: $bg-color;
$aside-width: 250px;
$icons-color: #9763f6;
$logo-size: 45px;
$secondary-color: #282a35;
$error-color: #f90b3a;
